<%
#--
#   Copyright (C) 2010 Shreyank Gupta <sgupta@REDHAT.COM>
#
#   This program is free software: you can redistribute it and/or modify
#   it under the terms of the GNU Affero General Public License as published by
#   the Free Software Foundation, either version 3 of the License, or
#   (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU Affero General Public License for more details.
#
#   You should have received a copy of the GNU Affero General Public License
#   along with this program.  If not, see <http://www.gnu.org/licenses/>.
#++
%>

<div class="post">
	<h2 class="title">
  <% if !logged_in? %>
    Welcome to FSoC
  <% else %>  
	  <%=h current_user.user_type.capitalize %> Dashboard
	<% end %>
	</h2>
	<p class="meta"><span class="date">&nbsp;</span></p>
	<div style="clear: both;">&nbsp;</div>
	<div class="entry">
<% if !logged_in? %>
  <h3>Hi and welcome to FSoC</h3>
  <p class="links"><%= link_to 'Login', login_path %> or <%= link_to 'Signup', signup_path %> to get started.</p>
<% else %>
  <% if admin? %>
    <br />
    <p>/* under construction */</p>
  <% end %>

	<%= render :partial => "dashboard/dashboard", :locals => { :user => current_user }%>	
<% end %>	
	</div>
</div>

