<%
#--
#   Copyright (C) 2010 Shreyank Gupta <sgupta@REDHAT.COM>
#
#   This program is free software: you can redistribute it and/or modify
#   it under the terms of the GNU Affero General Public License as published by
#   the Free Software Foundation, either version 3 of the License, or
#   (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU Affero General Public License for more details.
#
#   You should have received a copy of the GNU Affero General Public License
#   along with this program.  If not, see <http://www.gnu.org/licenses/>.
#++
%>

<div class="post">
	<h2 class="title">Listing Users</h2>
	<p class="meta"><span class="date">&nbsp;</span></p>
	<div style="clear: both;">&nbsp;</div>
	<div class="entry">
		<table id="hor-minimalist-a">
  <tr>
    <th>Username</th>
    <th>Email</th>
    <th>User Type</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= link_to_user user %>
    <td><%=h sanitize(user.email) %></td>
    <td><%=h user.user_type %></td>
 
  </tr>
<% end %>
</table>

	</div>
</div>
