<div class="post">
	<h2 class="title">About FSoC</h2>
	<p class="meta"><span class="date">&nbsp;</span></p>
	<div style="clear: both;">&nbsp;</div>
	<div class="entry">
    <pre>

The idea Student Project Management System that would probably turn
out to be a good idea should include the following:

   [a] accept and flag proposals
   [b] allow milestones from multiple projects to be included in a calendar
   [c] allow automated reminders to be generated against milestones
   [d] allow projects to be signed-off by mentors to denote completion
   [e] allow link to repositories of code to be mapped with the project
   [f] allow creation of a Project Dashboard with proposed mentors

The following aspects be considered for inclusion as part of the process flow:

   [a] Students receive a rigid time-frame of 15 days from the date
of registration to propose a project

   [b] Any student / student group that fails to meet condition [a]
above, receives an automated notification from the system providing a
3 day period post which their account would be flagged inactive

   [c] For any proposal / project a student / student group desires
to undertake, provide a set of qualifying tasks to assess the
capability of the student / student group to

   [d] Allow Certificate of Participation to be generated only if the
project has a sign-off from the mentor

To ensure that the mentors feel part of the system, the following
could come in handy :

[a] Request all interested mentors to propose at least a single
project for which they would like a student / student group to be
working on. The proposal for the project should ideally include the
following properties:

   [i] Project Definition
   [ii] Project Scope
   [iii] Estimated Time
   [iv] Project Description (including toolkits, frameworks)
   [v] A rating of complexity (initially arbitrary)
   [vi] Project Deliverables (including artifacts, documentation)

In short, the system should allow mentors and students to:

* create accounts
* have individual and project centric dashboards
* act as a repository for formal documentation
* allow calendaring for automated reminders
* include a version control system
* include a ticketing system

(the last two can be optionally tweaked for projects with existing upstreams)
    
    </pre>
		
	</div>
</div>

