<div class="post">
	<h2 class="title">FSoC Dashboard</h2>
	<p class="meta"><span class="date">&nbsp;</span></p>
	<div style="clear: both;">&nbsp;</div>
	<div class="entry">
    <br />
    <h2><%= link_to 'Projects', projects_path %></h2>
		
	</div>
</div>

