<div class="post">
	<h2 class="title">FSoC Calender</h2>
	<p class="meta"><span class="date">&nbsp;</span></p>
	<div style="clear: both;">&nbsp;</div>
	<div class="entry">
    <p>/* under construction */</p>
		
	</div>
</div>

